.projectTableOfContents {
    top: 0;
    right: 10 px;
    position:fixed;
    z-index: 2;
}

.siteTableOfContents {
    top: 10%;
    width:100%;
    position: fixed;
}

.topCorner {
    top: 0;
    left: 10 px;
    position:fixed;
    z-index: 3;
}

.greenNavbar {
    top:10px;
    position:fixed;
    z-index: 2;
}
