{% extends "layout.html" %}
{% block title %}About{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block headerImage %}
                <div class="parallax">
                    <img id="header-image" src="/static/media/img/CoffeeDesk.jpg" />
                </div>
                <div class="valign-wrapper">
                    <div id="header-text" class="col s12 m12 12 valign"> 
                        <h4 id="main-header" class="center-align white-text">"Practice
                            isn't the thing you do once you're good.
                            It's the thing you do that makes you good.”
                        </h4>
                        <h3 id="sub-header" class="center-align white-text">
                            - Malcolm Gladwell
                        </h3>
                    </div>
                </div> 
                <noscript>
                    <div class="valign-wrapper">
                        <div id="header-text" class="col s12 m12 l12 valign"> 
                            <h4 id="main-header" class="center-align blue-text">"Practice
                            isn't the thing you do once you're good.
                            It's the thing you do that makes you good.”</h4>
                            <h5 id="sub-header" class="center-align black-text">- Malcolm Gladwell</h5>
                            <div class="divider"></div>
                        </div>
                    </div> 
                </noscript>
{% endblock %}

{% block content %}
                <div class="section white">
                    <div class="row container">
                        <div class="col s12 m12 l12">
                            <h3 class="blue-text">About</h3>
                            <div class="divider"></div>
                        </div>
                    </div>

                    <div class="row container">
                        <div class="col s12 m12 l12">
                            <h5 class="green-text">Here's Some Fun Facts About Myself!</h5>
                            <p class="flow-text">
                                I enjoy a good cup of freshly ground coffee 
                                prepared using a french press in the morning, 
                                my video gaming days started with the NES, 
                                I enjoy cooking and trying out different types 
                                of food, and I'm not afraid to go out of my 
                                comfort zone in order to learn. 
                            </p>
                            <p class="flow-text">
                                My favourite programming language so far would 
                                have to be Python, as I really enjoy how it is dynamic 
                                typed, the syntax (in other languages, too much braces, 
                                especially with nested-if-else statements makes
                                lines look too cluttered and hard to read), 
                                how its easy to get up and running, 
                                and the ease at which one could add 
                                libraries using PIP (Package Manager for Python). 
                            </p>
                            <p class="flow-text">
                                C# is also fairly close up there with its 
                                ease-of-use features such as IntelliSense, 
                                the utility of its libraries, and how well it 
                                works on a Windows system.
                                I often program using Vim as my text-editor as it 
                                can be as thin or thick as I want it to be through 
                                additional plugins, but 
                                I don't mind using Visual Studio as an IDE, 
                                as it is full of useful features, especially 
                                IntelliSense (did I not mention IntelliSense...?). 
                            </p>
                            <h5 class="green-text">Here's my character stats sheet... err... I mean 
                            some of my technical skills.</h5>
                            <br />
                            <a class="waves-effect btn blue"
                                href="https://www.dropbox.com/s/brqomdi87sf9ahq/DavidNguyenResume.pdf?dl=0">
                                Download Resume
                            </a>
                            <table class="bordered">
                                <thead>
                                    <tr>
                                        <th data-field="programming">Abilities (Programming Languages)</th>
                                        <th data-field="level">Level (Years of Experience)</th>
                                        <th data-field="projects">Quests Completed (Projects)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>C#</td>
                                        <td>2.5</td>
                                        <td>
                                            <ul>
                                                <li><a href="/Projects#sharepointreporting">SharePoint Reporting Tool</a></li>
                                                <li>[Great-West Life] Contracted Resource Information System</li>
                                                <li>[Great-West Life] External Data Interface Record</li>
                                                <li>[Government of Manitoba] Internet Forensic Reporting Automation</li>
                                                <li>[LK Smart Solutions] Prototype Office Finder</li>
                                                <li>[LK Smart Solutions] SharePoint Migration Tool</li>
                                                <li>[Shell Canada Limited] SharePoint Link Scanner</li>
                                                <li>[Shell Canada Limited] Cross-site List Merger</li>
                                                <li>[Shell Canada Limited] SharePoint Site Settings Tool</li>
                                                <li>[Shell Canada Limited] Excel Sheet Merger / Comparer Tool</li>
                                                <li>[Shell Canada Limited] SharePoint Permissions Security Tool</li>
                                                <li>[Shell Canada Limited] SharePoint Bulk Uploader </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Python</td>
                                        <td>2</td>
                                        <td>
                                            <ul>
                                                <li><a href="/Projects#twitterdatamining">Twitter Data Mining</a></li>
                                                <li><a href="/Projects#note">_Note</a></li>
                                                <li>[Government of Manitoba] Internet Forensic Reporting Automation</li>
                                                <li>[University of Manitoba] Various course assignments</li>
                                            </ul> 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Java</td>
                                        <td>1</td>
                                        <td>
                                            <ul>
                                                <li><a href="/Projects#tts">Task Tracker System</a></li>
                                                <li>[University of Manitoba] Various course assignments</li>
                                            </ul> 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>C</td>
                                        <td>1</td>
                                        <td>
                                            <ul>
                                                <li>[University of Manitoba] Various course assignments</li>
                                            </ul> 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Objective-C</td>
                                        <td>0.5</td>
                                        <td>
                                            <ul>
                                                <li><a href="/Projects#note">_Note</a>
                                            </ul> 
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <br />

                            <h5 class="green-text">...and here are some of my hobbies!</h5>
                                    
                        </div>
                    </div> <!-- End row container -->
                
                    <div class="row container">
                        <div class="col s12 m12 l6">
                            <div class="card medium">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="/static/media/img/VideoGame.jpg">
                                    <span class="card-title white-text">Video Games</span>
                                </div>
                                <div class="card-content">
                                    <span class="activator">
                                        <a class="btn-floating right">
                                            <i class="fa fa-ellipsis-v blue"></i>
                                        </a>
                                    </span>
                                    <p>
                                        There is nothing as more relaxing 
                                        than playing video games where you can sit back and
                                        go at your own pace.
                                    </p>
                                </div> 
                                <div class="card-reveal">
                                    <span class="card-title black-text">
                                        Video Games<i class="fa fa-times fa-2x right"></i>
                                    </span>
                                    <p>
                                        There is nothing as more relaxing 
                                        than playing video games where you can sit back and
                                        go at your own pace.
                                        <br /><br />
                                        The type of games that I enjoy
                                        are usually RPGs, strategy, and card games.
                                        Some of my favourites are Hearthstone, the
                                        Civilization series, Pokemon, and the Fire
                                        Emblem series.
                                        <br /><br />
                                        Recently, I just finished playing through 
                                        Persona 3, and started playing Hearthstone again. 
                                        I can't wait for the new card expansion to come 
                                        out!
                                    </p>
                                </div>
                            </div> <!-- End card medium -->
                        </div>
                        
                        <div class="col s12 m12 l6">
                            <div class="card medium">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="/static/media/img/StockMarket.jpg">
                                    <span class="card-title white-text">Investing</span>
                                </div>
                                <div class="card-content">
                                    <span class="activator">
                                        <a class="btn-floating right">
                                            <i class="fa fa-ellipsis-v blue"></i>
                                        </a>
                                    </span>
                                    <p>
                                        Personally, I find it fascinating researching many
                                        different types of stocks and the reasons as to why 
                                        they are valued at that price.
                                    </p>
                                </div> 
                                <div class="card-reveal">
                                    <span class="card-title black-text">
                                        Investing<i class="fa fa-times fa-2x right"></i>
                                    </span>
                                    <p>
                                        Personally, I find it fascinating to research many
                                        different types of stocks and the reasons as to why 
                                        they are valued at that price.
                                        <br /><br /> 
                                        It's really interesting as it teaches you the
                                        importance of constantly learning, just like in
                                        the field of software development.
                                        <br /><br />
                                        Right now I'm reading up on the current economic
                                        situation regarding Greece and their banking system, 
                                        China's recent stock market crash, and oil's 
                                        decreasing prices.
                                        <br /><br />
                                        As a side note, low oil prices are actually 
                                        disadvantageous for us Canadians, as the price of 
                                        the dollar is strongly linked to the price of oil.
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col s12 m12 l6">
                            <div class="card medium">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="/static/media/img/Library.jpg">
                                    <span class="card-title white-text">Reading Books</span>
                                </div>
                                <div class="card-content">
                                    <span class="activator">
                                        <a class="btn-floating right">
                                            <i class="fa fa-ellipsis-v blue"></i>
                                        </a>
                                    </span>
                                    <p>
                                        Even as a software developer who spends his time 
                                        all day on a computer, I still like to read books.
                                        There's no substitute for the feeling of opening up a 
                                        fresh book and flipping through the pages by hand.
                                    </p>
                                </div> 
                                <div class="card-reveal">
                                    <span class="card-title black-text">
                                        Reading Books<i class="fa fa-times fa-2x right"></i>
                                    </span>
                                    <p>
                                        Even as a software developer who spends his time 
                                        all day on a computer, I still like to read books.
                                        There's no substitute for the feel of opening a 
                                        fresh book and flipping through pages by hand.
                                        <br /><br />
                                        There are however some books that I read the PDF 
                                        version for, but it doesn't have the same feeling 
                                        as the actual hardcover.  Currently I'm reading 
                                        Outliers: The Story of Success, by Malcolm Gladwell, 
                                        and of course is the reason for the quote you see 
                                        on this page.
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col s12 m12 l6">
                            <div class="card medium">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="/static/media/img/FoodSpices.jpg">
                                    <span class="card-title white-text">Cooking</span>
                                </div>
                                <div class="card-content">
                                    <span class="activator">
                                        <a class="btn-floating right">
                                            <i class="fa fa-ellipsis-v blue"></i>
                                        </a>
                                    </span>
                                    <p>
                                        While I was in University, I worked part-time as 
                                        a cook. It was interesting, but it was hard work. 
                                        The best part about cooking is making up your own 
                                        recipes with whatever you have in the fridge.
                                    </p>
                                </div> 
                                <div class="card-reveal">
                                    <span class="card-title black-text">
                                        Cooking<i class="fa fa-times fa-2x right"></i>
                                    </span>
                                    <p>
                                        While I was in University, I worked part-time as 
                                        a cook. It was interesting, but it was hard work. 
                                        The best part about cooking is making up your own 
                                        recipes with whatever you have in the fridge.
                                        <br /><br />
                                        Originally, I wanted to be a chemist when I first 
                                        got into university, and since chemistry is like 
                                        cooking, it was natural that I would enjoy cooking.
                                        <br /><br />
                                        As I progressed, I gradually figured out that I enjoyed 
                                        creating things, experimenting, and learning more, thus 
                                        computer science and software development felt 
                                        perfect for me.
                                        <br /><br />
                                        Always being told that you're wrong by the 
                                        computer is an interesting feeling, but always 
                                        gives you perspective that you can keep on learning. 
                                        Same with the feeling of cooking, when a recipe 
                                        doesn't turn out as expected.
                                        <br /><br /> 
                                        But the moment when 
                                        you get it right, and it all comes together, is 
                                        what makes it worth it all in the end, for both 
                                        software development and cooking.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div> <!-- End row container -->
                    
                    <div class="row container">
                        <div class="col s12 m12 l12">
                            <h5 class="green-text center-align">
                                If you enjoyed reading about what I like to do, or if you 
                                want to read a bit more on what I've done, then check out 
                                the Projects page.
                            </h5>
                            <br />
                            <h5 class="blue-text center-align">
                                Want to get in touch?<br /><br />Then you can visit the 
                                Contact page! I do look forward to hearing from you!
                            </h5>
                            <div class="divider"></div>
                        </div>
                    </div>
                    
                </div> <!-- End section white -->
{% endblock %}


