{% extends "layout.html" %}
{% block title %}Contact{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block headerImage %}
                <div class="parallax">
                    <img src="/static/media/img/ComputerDesk.jpg" />
                </div>
                <div id="header-text" class="row container">
                    <div class="col s12 m12 12 valign"> 
                        <h4 class="center-align white-text">Need to get in touch?</h4>
                        <h3 class="center-align light-green-text">I Look Forward to Meeting You!</h3>
                    </div>
                </div> 
{% endblock %}

{% block content %}

            <div class="row container">
                    <div class="col s12 m12 l12">
                        <h3 class="blue-text">Contact Information</h3>
                        <p>hi</p>
                    </div>
                </div>
            </div>

{% endblock %}
