{% extends "layout.html" %}
{% block title %}Contact{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block headerImage %}
                <div class="parallax">
                    <img id="header-image" src="/static/media/img/ComputerDesk.jpg" />
                </div>
                <div id="header-text" class="valign-wrapper">
                    <div class="col s12 m12 l12 valign"> 
                        <h4 id="main-header" class="center-align white-text">Need to get in touch?</h4>
                        <h3 id="sub-header" class="center-align white-text">I Look Forward to Meeting You!</h3>
                    </div>
                </div>
                <noscript>
                    <div class="valign-wrapper">
                        <div id="header-text" class="col s12 m12 l12 valign"> 
                            <h4 id="main-header" class="center-align blue-text">Need to get in touch?</h4>
                            <h5 id="sub-header" class="center-align black-text">I Look Forward to Meeting You!</h5>
                            <div class="divider"></div>
                        </div>
                    </div>
                </noscript>
                
{% endblock %}

{% block content %}

            <div class="row container">
                    <div class="col s12 m12 l12">
                        <h3 class="blue-text">Contact Information</h3>
                        <div class="divider"></div>
                        <h5>David Nguyen</h5>
                        <h6>112 Foster Street</h6>
                        <h6>Winnipeg, Manitoba - Canada</h6>
                        <h6>Cell: (204) 470-8029</h6>
                        <h6>Email: davidnguyent@gmail.com</h6>
                        <br />
                        <a class="waves-effect btn blue"
                            href="https://www.dropbox.com/s/brqomdi87sf9ahq/DavidNguyenResume.pdf?dl=0">
                            Download Resume
                        </a>
                        <h5>You can also find me on:</h5> 
                        <div>
                            <a href="https://github.com/NinchuKyo/"
                                class="fa fa-github-square fa-3x"></a>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}
