<!doctype html>

{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <h1>Hello</h1>
    
    <div id="accordion">
        <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
            
            <li>
                <div class="collapsible-header">Hi</div>
                <div class="collapsible-body"><p>Lorem ipsum</p></div>
            </li>
            <li>
                <div class="collapsible-header">Hi</div>
                <div class="collapsible-body"><p>Lorem ipsum</p></div>
            </li> 
        </ul>
    </div>
    
{% endblock %}
