{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block headerImage %}
                <div class="parallax">
                    <img id="header-image" src="/static/media/img/NatureWinter.jpg" />
                </div>
                <div class="valign-wrapper">
                    <div id="header-text" class="col s12 m12 12 valign"> 
                        <h1 id="main-header" class="center-align white-text">David Nguyen</h1>
                        <h4 class="center-align white-text">Software Developer, 
                        Experimenter, and Avid Gamer</h4>
                        <div class="center-align">
                            <a id="header-button-about" href="/About" class="white-text">About Me</a>&nbsp&nbsp
                            <a id="header-button-projects" href="/Projects" class="white-text">View Projects</a>
                        </div>
                    </div>
                </div> 
                <noscript>
                    <div class="valign-wrapper">
                        <div id="header-text" class="col s12 m12 l12 valign"> 
                            <h1 id="main-header" class="center-align blue-text">David Nguyen</h1>
                            <h5 id="sub-header" class="center-align black-text">Software Developer
                                and Avid Gamer</h5>
                            <div class="divider"></div>
                        </div>
                    </div> 
                </noscript>
{% endblock %}

{% block content %}
            <div class="section white">
                <!-- Introduction -->
                <div class="row container">
                    <div class="col s12 m12 l12">
                        <h3 class="blue-text">Greetings!</h3>
                        <h5>Let me tell you a bit about myself...</h5>
                        <div class="divider"></div>
                        <p class="flow-text">My interest in
                            software development began with a simple fascination for
                            how and why computers and software works. I've always
                            wondered how it was possible for one to build such
                            impactful and amazing software that would have a huge impact
                            on all of our lives, and make it easier for us to do
                            what we need on a day-to-day basis.
                        </p>
                        <p class="flow-text">
                            What I really love about this field is
                            the potential for software development to recreate the
                            world through innovation, creativity, and experimentation,
                            and is what is going to keep me passionate about this field
                            today and for the future days to come.
                        </p>
                        <p class="flow-text">If you are seeking a software developer
                            with a passion for gaming and a love for coffee, you've
                            come to the right place! Stay awhile and see what skills
                            I have to offer for you and your organization.
                            Maybe you'll like what you see.
                        </p>
                    </div>
                </div> <!-- End Hobby Row Container -->
            </div> <!-- End White Section -->
                
{% endblock %}
