<!doctype html>

<html>
    <head>
        {% block head %}
        <title>David Nguyen | {% block title %}{% endblock %}</title>

        <!-- CSS (using fallback.js instead)-->
        <link rel="stylesheet"
            href="{{url_for('static', filename='css/materialize.min.css')}}" />
        <link rel="stylesheet"
            href="{{url_for('static', filename='font-awesome-4.3.0/css/font-awesome.min.css')}}" />
        <link rel="stylesheet"
            href="{{url_for('static', filename='css/layoutposition.css')}}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% endblock %}
    </head>
 
    <body> 
        <!-- Header Parallax Image -->
        <div class="parallax-container valign-wrapper">
            <!-- Left Side Nav Bar --> 
            <div class="side-nav-button">
                <ul id="slide-out" class="side-nav collection">
                    <div class="container" 
                    style="margin-top:15px; margin-bottom:15px;">
                        <img class="responsive-img" 
                        src="/static/media/img/DavidNguyenPicture.jpg" /> 
                    </div>
 
                    <div class="card-panel z-depth-1 light-blue lighten-1">
                        <h5 class="center-align white-text">David Nguyen</h5>
                        <h6 class="center-align white-text">Software Developer,
                            Experimenter, and Avid Gamer</h6>
                    </div>

                    <div class="divider"></div>
                    
                    <li class="collection-item">
                        <a href="/">
                            <i class="fa fa-home fa-2x left"></i>
                            <h6 class="right-align">Home</h6>
                        </a>
                    </li>
                    <li class="collection-item">
                        <a href="/About">
                            <i class="fa fa-user fa-2x left"></i>
                            <h6 class="right-align">About</h6>
                        </a>
                    </li>
                    <li class="collection-item">
                        <a href="/Projects">
                            <i class="fa fa-file-code-o fa-2x left"></i>
                            <h6 class="right-align">Projects</h6>
                        </a>
                    </li>
                    <li class="collection-item">
                        <a href="/Contact">
                            <i class="fa fa-envelope fa-2x left"></i>
                            <h6 class="right-align">Contact</h6>
                        </a>
                    </li>
                    <br />
                
                    <div class="z-depth-1 light-blue lighten-4"> 
                        <div class="center-align">
                            <h6>You can find me on:</h6>
                            <a href="https://github.com/NinchuKyo/"
                                class="fa fa-github-square fa-2x"></a>
                            <a href="mailto:davidnguyent@gmail.com"
                                class="fa fa-at fa-2x"></a>
                        </div>
                    </div>
                
                </ul>

                <a href="" data-activates="slide-out" class="btn
                btn-large button-collapse light-green tooltipped greenNavbar"
                data-tooltip="Open Side Navigation" data-position="right">
                    <i class="large mdi-navigation-menu"></i>
                </a>
            </div>
            
            <div class="row container">
                {% block headerImage %}{% endblock %}
            </div>
        </div> <!-- End parallax container -->

        <!-- If JavaScript is disabled -->
        <noscript>
            <div class="row">
                <ul class="card-panel topCorner section table-of-contents">
                    <h6>Site Contents<h6>
                    <li><a href="/" class="blue-text">Home</a></li>
                    <li><a href="/About" class="blue-text">About</a></li>
                    <li><a href="/Projects" class="blue-text">Projects</a></li>
                    <li><a href="/Contact" class="blue-text">Contact</a></li>
                    <h6>
                        By the way, it appears that you have JavaScript disabled.
                        <br />
                        If you turn it on, you can get this site's full experience.
                    </h6>
                </ul>
                
            </div>
        </noscript>
    
        <div id="content"> 
            {% block content %}{% endblock %}
        </div>
         
        <!-- Scripts -->
        <script src="{{url_for('static', filename='js/fallback.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/layout.js')}}"></script>
    </body>
    
    <footer class="page-footer light-blue"> 
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col s12 offset-m2 m10 offset-l1 l11">
                        © 2015 David Nguyen - 
                        Images are licensed under <u><a class="white-text"
                        href="https://creativecommons.org/publicdomain/zero/1.0/">
                        Creative Commons Zero (CC0)</a><u>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
</html>
