<!doctype html>

<html>
    <head>
        <link rel="stylesheet"
            href="{{url_for('static', filename='css/materialize.css')}}" />
        <script src="{{url_for('static', filename='js/materialize.js')}}"></script>
    </head>

    <!-- Left Side Nav Bar --> 
    <ul id="nav-mobile" class="side-nav fixed"> 
        <div class="container" style="margin-top:30px; margin-bottom:30px; width:90%;">
            <img class="responsive-img" 
            src="/static/media/img/DavidNguyenPicture.jpg" /> 
        </div>
        <li class="bold">
            <a class="waves-effect waves-teal">Hi</a>
        </li>
        <li class="bold">
            <a class="waves-effect waves-teal">Hello</a>
        </li>
    </ul>
    
<html>
