{% extends "layout.html" %}
{% block title %}Projects{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block headerImage %}
                <div class="parallax">
                    <img id="header-image" src="/static/media/img/AppleComputerDesk.jpg" />
                </div>
                <div class="valign-wrapper">
                    <div id="header-text" class="col s12 m12 12 valign"> 
                        <h4 id="main-header" class="center-align white-text">"A project is
                            complete when it starts working for you, rather than
                            you working for it."</h4>
                        <h3 id="sub-header" class="center-align white-text">- Scott Allen</h3>
                    </div>
                </div>
                <noscript>
                    <div class="valign-wrapper">
                        <div id="header-text" class="col s12 m12 l12 valign"> 
                            <h4 id="main-header" class="center-align blue-text">"A project is
                            complete when it starts working for you, rather than
                            you working for it."</h4>
                            <h5 id="sub-header" class="center-align black-text">- Scott Allen</h5>
                            <div class="divider"></div>
                        </div>
                    </div> 
                </noscript>
{% endblock %}

{% block content %}

            <div class="row">
                <div class="col hide-on-med-and-down offset-m9 offset-l10 m3 l2">
                    <ul class="card-panel projectTableOfContents section light-blue 
                    lighten-4 table-of-contents">
                        <h6>Projects TODO:<h6>
                        <li>
                            <a id="todo_site" href="#thiswebsite" class="blue-text">
                                <i class="fa fa-square-o"></i> About This Site
                            </a>
                        </li>
                        <li>
                            <a id="todo_note" href="#note" class="blue-text">
                                <i class="fa fa-square-o"></i> _Note
                            </a>
                        </li>
                        <li>
                            <a id="todo_sharepoint" href="#sharepointreporting" class="blue-text">
                                <i class="fa fa-square-o"></i> SharePoint Reporting Tool
                            </a>
                        </li>
                        <li>
                            <a id="todo_twitter" href="#twitterdatamining" class="blue-text">
                                <i class="fa fa-square-o"></i> Twitter Data Mining
                            </a>
                        </li>
                        <li>
                            <a id="todo_tts" href="#tts" class="blue-text">
                                <i class="fa fa-square-o"></i> Task Tracker System
                            </a>
                        </li>
                    </ul>
                </div>
            </div> 
 
            <div class="section white">
                <!-- Introduction -->
                <div class="row container">
                    <div class="col s12 m12 l12">
                        <h3 class="blue-text">Projects</h3>
                        <div class="divider"></div>
                    </div>
                </div>

                <!-- About This Site -->
                <div id="thiswebsite" class="row container section scrollspy">
                    <div class="col s12 m5 l5">
                        <div class="card">
                            <div class="card-image">
                                <img src="/static/media/img/PersonalWebsite.jpg">
                                <span class="card-title black-text">This Site</span>
                            </div>
                            <div class="card-action">
                                <a class="blue-text"
                                    href="https://github.com/NinchuKyo/PersonalWebsite">Code</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m7 l7">
                        I undertook this project to create
                        a personal site, as I wanted a way to showcase the various 
                        projects that I had worked on before, 
                        and to show what skills I can bring to a
                        potential person or organization.
                        <p></p>
                        <b>Technologies Used</b>
                        <p> 
                            This site is hosted on AWS (Amazon Web Services), using
                            an EC2 instance. Web page requests / responses are handled
                            by the Apache module <a href="https://code.google.com/p/modwsgi/">
                                mod_wsgi</a> as the interface for 
                            <a href="http://flask.pocoo.org/">Flask</a> 
                            (a Python micro web framework) responsible for processing
                            requests received and returning the appropriate web pages.
                            The front-end framework used is
                            <a href="http://materializecss.com/">Materialize</a>,
                            which allows for a Bootstrap-like ease-of-use, but
                            with a different flavour.
                        </p>
                        <b>Design Decisions</b>
                        <p>
                            Originally, this site was hosted on Heroku, but I
                            then chose to switch over to AWS due to constraints
                            that were present on Heroku's free tier, which made it 
                            mandatory for
                            web applications to sleep for 6 hours / day.
                            With Heroku however, the features provided made
                            it easy to deploy
                            web applications as it could pull from GitHub
                            automatically whenever a commit was made.
                        </p>
                    </div> 
                    <div class="col s12 m12 l12">
                        <p>
                            Also, I did not have to worry about setting
                            up Apache, or configuring security settings. 
                            However, what I wanted was full uptime without having
                            to worry if my site was down, and for payment
                            to be as a per-use basis, instead of a flat fee
                            on Heroku.  The other bonus was gaining the
                            knowledge of how to deploy simple web applications
                            using AWS.
                        </p>
                        <p>
                            Flask was chosen as the web framework due to its simplicity
                            as it comes with the bare essentials for making a web
                            application (not needing a lot of boilerplate code to get
                            the job done), and the ability to get a small site like
                            mine with minimal features up and running in no time. 
                        </p>
                        <p>
                            I decided to use Materialize for the front-end framework
                            as I wanted something that looked stylish, provided
                            responsive web features, but being different
                            as to what Bootstrap offered. What really impressed me about Materialize
                            was the use of <a href="http://materializecss.com/cards.html">
                            cards</a>, which I felt was perfect for displaying
                            little tidbits of information, but giving a bit of
                            insight on what the card was about through the card image.
                            If a person wanted to know more about the card topic, then
                            links could be provided below the card, just like what the
                            cards on the home page accomplished by taking you to this
                            page (if you used them to get to this page), and how the
                            cards on this page are used to link to the source code for 
                            the projects. 
                        </p>
                        <b>Future Project Plans</b>
                        <p>
                            The great thing about pursuing this project is the
                            potential for improvements. In the future,
                            I'm thinking of maybe adding a blog section about
                            video games and technologies so I can discuss my
                            thoughts and opinions about them. By doing so, I hope
                            to improve my writing ability for professional
                            purposes and write about topics that I feel passionate
                            about.
                        </p>
                        </div>
                </div>

                <div class="row container">
                    <div class="col s12 m12 l12">
                        <div class="divider"></div>
                    </div>
                </div>

                <!-- _Note -->
                <div id="note" class="row container section scrollspy">
                    <div class="col s12 m7 l7">
                        _Note was actually a university course project that
                        I cooperated with five other classmates to make. We
                        named it _Note, as the blank could stand for whatever
                        you needed it to be used for, be it for students needing
                        to store and access their synced notes from a desktop
                        or mobile iOS device, or a busy professional on the
                        go for mobile only.

                        <p>
                            At the time, my classmates and I were introduced to an
                            app called Evernote, and were amazed at how it could be
                            used seamlessly across a multitude of devices.  So we
                            thought, "Hey, wouldn't it be cool if we could make
                            something like that?", and thus became the inception of
                            _Note. Due to the size of this project, each member
                            had a specific role.
                        </p>
                        <p>
                            In the project, my role involved anything that was 
                            iOS related. This meant that my main goals were 
                            getting the iOS design and development up and running,
                            utilizing the testing frameworks for iOS, and making
                            sure that it would work with our server design. I
                            felt that this was an interesting challenge as
                            before this, I had never worked with iOS app development
                            nor using Objective-C.
                        </p>
                    </div>
                    <div class="col s12 m5 l5">
                        <div class="card">
                            <div class="card-image">
                                <img src="/static/media/img/_Note.jpg">
                                <span class="card-title black-text">_Note</span>
                            </div>
                            <div class="card-action">
                                <a class="blue-text"
                                    href="https://github.com/NinchuKyo/_Note">Code</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m12 l12">
                        <b>Technologies / Methodologies Used</b>
                        <p>
                            Considering that this project involved more than
                            one person, we needed a means of managing ourselves
                            and how software development should be done.  For
                            the software development methodology, Agile was used.
                            We used <a href="https://trello.com/">Trello</a> as our
                            Kanban board for user stories and feature planning. 
                            The project lasted for three iterations, with each
                            iteration being about two to three weeks long.
                        </p>
                        <p> 
                            The web framework / back-end used for _Note was Flask
                            and hosting was done through AWS using an EC2 instance 
                            (the same as what was used for this website), but instead
                            of the standard responses returning static html pages,
                            _Note used a REST-style architecture for its responses, 
                            where they were made in JSON in order to support both
                            desktop browsers and mobile applications. MVC was the
                            driving software architecture on how the application was
                            structured. For version control, Git was used, with
                            GitHub used to host our Git repository for everyone
                            on our team to access.
                        </p>
                        <p>
                            The front-end desktop browser client design was done
                            using a bit of custom CSS, Bootstrap, and AngularJS. 
                            For the mobile application, which was an iOS application,
                            Objective-C, with the Cocoa framework was used. Storyboards
                            were used to manage the multiple view controllers, like
                            having a slide-out menu for the list of notes, and a view
                            to load the note's content whenever a list item was tapped.
                        </p>
                        <p>
                            Note storage was handled by using the user's Dropbox
                            account that they allowed the application to store
                            notes via 
                            <a href="https://www.dropbox.com/developers/reference/oauthguide">OAuth</a>,
                             which was handled by the
                            <a href="https://www.dropbox.com/developers/core">
                            Dropbox API</a>. 
                        </p>

                        <p>
                            For testing the desktop browser client, 
                            <a href="https://qunitjs.com/">QUnit</a> was used for
                            unit testing, and <a href="http://www.seleniumhq.org/">
                            Selenium</a> was used as the acceptance testing framework.
                            As for the iOS client, we used 
                            <a href="https://github.com/kmalakoff/QUnit.m">
                            QUnit for iOS</a>, and for acceptance testing, we used
                            <a href="http://www.testingwithfrank.com/">Frank</a>. 
                        </p>
                        <b>Design Decisions</b>
                        <p>
                            In this case, Flask was chosen for this project, as
                            before this, we had never used Python or Flask for
                            back-end web development and decided as a group that
                            we wanted to try it out.  In terms of only making
                            an iOS application and not an Android application
                            as well, was that it was not required by the
                            course.
                        </p>
                        <p>
                            When we were wondering what technologies to use for
                            the desktop browser front-end, one of the members on
                            our team had experience working with AngularJS and
                            Bootstrap. Since none of the other members had used
                            this before, we wanted to learn more about it.
                            I felt that one of the best ways to learn something
                            new is to leverage someone else's knowledge, as they
                            went through the process of learning it, meaning that
                            they would know the in's and out's of the technology and
                            how to effectively use it.
                        </p>
                        <p>
                            Since none of us had worked with mobile development
                            technologies, we just went with what was recommended
                            to us in the class. It was certainly a different
                            experience compared to what I had been used to, which
                            was 
                            programming with C#, especially with the use of
                            NS prefixes in the language, and how to manipulate
                            objects and variables. Use of the storyboard felt
                            similar to Visual Studio's WinForms, so I felt
                            it was pretty easy to get used to.
                        </p> 
                        <p>
                            In terms using the Dropbox API to store a user's
                            notes through Dropbox, we felt that based on our
                            application being related to note accessibility
                            and modification across different platforms,
                            we felt that this the perfect technology to use.
                            Originally, we wanted some form of syncing across
                            platforms. However, writing code that handles
                            synchronization is extremely difficult. Instead,
                            we thought about how Dropbox was able to sync
                            files across platforms, so maybe we can somehow
                            leverage it to store and sync notes, and sure
                            enough they had an API which we could use.
                        </p>
                        <p>
                            For the testing framework that we chose to use,
                            we just went with the ones we felt were easier to use,
                            and the ones that were recommended to us.
                            In class, we were recommended a couple of options
                            for which testing frameworks to use. For acceptance
                            testing of the browser, we had the option of
                            using <a href="http://jasmine.github.io/">Jasmine</a>
                             or Selenium, and as noted above, we went with 
                            Selenium.
                        </p>
                        <b>Lessons Learned</b>
                        <p>
                            Overall, I felt that from doing this project, I
                            learned a lot on how programming in larger
                            groups can be difficult sometimes, and what ends
                            up happening sometimes were communication
                            issues, where one member doesn't communicate
                            to others as to what they were doing, resulting in
                            duplicated work or end goals weren't communicated
                            clearly enough, resulting in wasted work.
                            Having went though this experience taught me
                            greatly on the value of effective communication
                            and the impact it could have when working with
                            a team.
                        </p>
                        <p>
                            Sometimes there were moments where there
                            were disagreements, but a great mentor that I had
                            the pleasure of working with imparted me with some
                            great advice, which was, "At the end
                            of the day, you just brush it off and don't take
                            anything said against you personally". A part of
                            being a software developer is listening to
                            different opinions and being able to acknowledge
                            how others think and to "walk a mile in their
                            shoes". In the end, our goal is to make someone
                            else's life easier through our work.
                        </p>
                    </div>
                </div>

                <div class="row container">
                    <div class="col s12 m12 l12">
                        <div class="divider"></div>
                    </div>
                </div>

                <!-- SharePoint Reporting Tool -->
                <div id="sharepointreporting" class="row container section scrollspy">
                    <div class="col s12 m5 l5">
                        <div class="card">
                            <div class="card-image">
                                <img src="/static/media/img/SharePointReportingTool.jpg">
                                <span class="card-title black-text">SharePoint Reporting Tool</span>
                            </div>
                            <div class="card-action">
                                <a class="blue-text"
                                    href="https://github.com/NinchuKyo/SharePoint-Reporting-Tool">Code</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m7 l7">
                        This project was one of the sole reasons for the quote
                        that you see on this page. While I was working for
                        this one company, then subsequently for another
                        company after, a lot of the work involved SharePoint
                        development. The SharePoint Reporting Tool is a
                        desktop application made to query a SharePoint site's
                        list / library for items, with information 
                        on the items' metadata values.
                        <p> 
                            Some of the projects for these two
                            companies involved gathering and modifying information
                            relative to an item within a list or a library.
                            Instead of constantly having to go on the specified
                            SharePoint site to gather this information, or to
                            change the information, I wanted to develop a tool
                            that could make this task easier for the other projects
                            that I was working on. This was especially important
                            for the SharePoint Migration Project where the
                            metadata values of items from SharePoint 2007 differed
                            from SharePoint 2010.
                        </p>
                        <b>Technologies Used</b>
                        <p>
                            The SharePoint Reporting Tool is a desktop 
                            WinForms application built using Visual Studio 2012,
                            under the .NET 4.5 Framework, with the 
                            <a href="https://msdn.microsoft.com/en-us/library/office/ee557253%28v=office.14%29.aspx">
                            SharePoint 2010 SDK.</a>
                        </p>
                    </div>
                    <div class="col s12 m12 l12">
                        <b>Design Decisions</b>
                        <p>
                            I felt that for anything that is Microsoft-related,
                            the best tools for working with their products
                            are usually also from Microsoft, due to their
                            product integration.
                            Since SharePoint is a Microsoft product, I figured
                            they probably had tools for developers to use in
                            order to access and modify SharePoint list items.
                            So sure enough, they had the SharePoint SDK, which
                            was perfect for my needs.
                        </p>
                        <p>
                            The idea behind this tool was to make it simple
                            and efficient for me to use, but with enough
                            features such as logging to make it easy to debug
                            unexpected errors. Tabs were used to divide each
                            area with a specific task.  For example, the first
                            tab was used solely for selecting which lists or
                            libraries to work with, and which SharePoint site
                            to work with.
                        </p>
                        <p>
                            The second tab focused solely on the information
                            contained within a list or library, and provided
                            logical operations for finding items within a
                            list. Other features included displaying only
                            a selection of metadata values of items (sometimes
                            items had way too many metadata values, some of
                            which weren't useful), customizing your own
                            query for list items, and exporting the results
                            to Excel (which was very useful, as it worked with
                            the other programs that I had). These features
                            were developed to provide more information for
                            me to use in conjunction with other programs.
                        </p>
                        <p>
                            The third tab was made primarily for logging,
                            where it was primarily made for visibility behind
                            what errors could occur, especially when dealing
                            with custom data fields in SharePoint lists.
                            This feature was especially useful during the
                            development of this program.
                        </p>
                        <p>
                            The reasoning as to why WinForms was used, was that
                            it was the quickest possible solution in terms of
                            solving my immediate needs at the time. Considering
                            that at the time I only knew C# Winforms, and
                            wanted something to help me with my other projects,
                            I felt that it was the perfect choice.
                        </p>
                        <b>Lessons Learned</b> 
                        <p>
                            From doing this project, I learned that by using C# 
                            I am able to automate a lot of tasks that normally
                            would seem tedious if done by hand. This project
                            led me to learn more about the other libraries that
                            I could use in order to automate work.
                        </p>
                        <p>
                            An example of where I was able to apply this
                            new knowledge was during one of my work terms.
                            By using C#'s Microsoft.Office.Interop
                            library in order to generate an automated Word
                            report, which was populated with embedded
                            Excel documents, I was able to reduce the
                            amount of time spent writing up the report
                            by hand.
                        </p>
                        <p>
                            This was one of the very cool things that I
                            found that I could do with C#, and because
                            of this, I am always looking for a way to
                            make my work easier by seeing if I could write a
                            program to do it for me.
                        </p>
                    </div>
                </div>

                <div class="row container">
                    <div class="col s12 m12 l12">
                        <div class="divider"></div>
                    </div>
                </div>

                <!-- Twitter Data Mining -->

                <div id="twitterdatamining" class="row container section scrollspy">
                    <div class="col s12 m7 l7">
                        The Twitter Data Mining Project was one of the most
                        interesting projects that I had worked on with a
                        partner while I was in university. This project utilized
                        the knowledge that we learned in class, and made
                        us think about the practical applications that data
                        mining could be used for.
                        <p>
                            We decided to analyze Twitter in order to determine
                            what association rules we could find between a user's
                            hashtags and anything we could conclude from that. 
                            Our project focused on
                            analyzing the <a href="https://wiki.cites.illinois.edu/wiki/display/forward/Dataset-UDI-TwitterCrawl-Aug2012">
                                Twitter dataset</a> constructed from Rui Li, Shengjie Wang,
                            and Kevin Chen-Chuan Chang, where they obtained it from
                            Twitter's API using crawlers.
                        </p>
                        <p>
                            However, in our project, we decided to trim down
                            the dataset even further by focusing on the more recent
                            tweets (from the years 2010/2011), as we noticed that
                            the earlier years had barely any hashtagged data, 
                            and that we found the raw dataset contained over
                            20 GBs of data, which was way too large and
                            time-consuming for the
                            system we were using to run the algorithm on.
                        </p>
                        <b>Technologies Used</b>
                        <p>
                            The project was done in Python, where we used it
                            to select what data we were going to use out of
                            the raw data, and to pre-process and transform the
                            data for input into our data mining algorithms.
                        </p>
                    </div>

                    <div class="col s12 m5 l5">
                        <div class="card">
                            <div class="card-image">
                                <img src="/static/media/img/TwitterResults.jpg">
                                <span class="card-title white-text">Twitter Data Mining</span>
                            </div>
                            <div class="card-action">
                                <a class="blue-text"
                                    href="https://github.com/NinchuKyo/TwitterDataMining">Code
                                </a>
                                <a class="blue-text"
                                    href="https://www.dropbox.com/s/1y2cf9o0l5khjbp/EurichMathias_NguyenDuong_ProjectReport.pdf?dl=0">Report</a>
                            </div>
                        </div>
                    </div>
    
                    <div class="col s12 m12 l12">
                        <p>
                            We used the <a href="http://orange.biolab.si/">
                            Orange</a> python library to run the data mining
                            algorithm (<a href="https://en.wikipedia.org/wiki/Apriori_algorithm">Apriori</a>) on our transformed dataset.

                        </p>
                        <b>Design Decisions</b>
                        <p>
                            We used Python for this project because at the
                            time, this was one of our favourite languages
                            to use due to its dynamic typing features, and
                            it was an easy to use language for data
                            manipulation and data mining tasks. 
                        </p>
                        <p>
                            Orange was used under the recommendation of our
                            professor, as it contained a faster and more 
                            efficient implementation of the Apriori
                            algorithm, compared to a brute-force
                            implementation that was provided in our class.
                        </p>
                        <p>
                            As to why we decided to analyze a Twitter dataset,
                            we were interested in the idea of working with
                            social media, and using it to find patterns
                            and relations between hashtagged values, and why
                            users hashtag a specific word or phrase
                            in conjunction with another word / phrase.
                        </p>
                        <b>Interesting Interpretations</b>
                        <p>
                            Through this project, we found some pretty
                            interesting hashtag association rules. One thing
                            that I found interesting was for the dataset
                            of February 2011, there was an association
                            between the hashtags 'jan25' and 'Egypt'. Upon further
                            research, it was discovered that the reason for this was due 
                            to the <a href="https://en.wikipedia.org/wiki/Egyptian_Revolution_of_2011">
                            Egyptian Revolution of 2011</a>. From this,
                            a behaviour analyzed that could be possible is 
                            that users hashtag dates
                            of significant importance, with events that are
                            significantly important, BUT that don't occur
                            on a regular basis, even though hashtags themselves 
                            already contain the information of when they were 
                            used as a hashtag.
                        </p>
                        <b>Lessons Learned</b>
                        <p>
                            Through our findings, and the implementation of this
                            project, I learned a whole lot more about the
                            practical applications on how data mining can be
                            used in a real-world context.
                        </p>
                        <p>
                            I feel that in university, a lot of the classes end
                            up being mostly theory, with no practical
                            applications to back up what is learned. But in
                            this class we had a chance to supplement the
                            knowledge learned in class with a project of
                            our own choosing to actually apply the knowledge
                            that we learned. These types of classes were my
                            favourite in university, as through a project
                            like this one, you learn so much more about the
                            topic, rather than just sitting in a lecture. 
                        </p>
                    </div>
                </div>

                <div class="row container">
                    <div class="col s12 m12 l12">
                        <div class="divider"></div>
                    </div>
                </div>

                <!-- Task Tracking System -->

                <div id="tts" class="row container section scrollspy">
                    <div class="col s12 m5 l5">
                        <div class="card">
                            <div class="card-image">
                                <img src="/static/media/img/TaskTracking.jpg">
                                <span class="card-title black-text">Task Tracking System
                                    <h6>(Not actual image of program)</h6></span>
                            </div>
                            <div class="card-action">
                                <a class="blue-text"
                                    href="https://github.com/NinchuKyo/TTS">Code</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m7 l7">
                        The Task Tracking System is a Java desktop 
                        application for Windows that allows one to
                        manage tasks for themselves, or for a group.
                        Its functionality mirrors a to-do list, but
                        allows for users to assign other members, and / 
                        or groups tasks.
                        <p>
                            The Task Tracking System was one of the first 
                            larger class projects that I had worked with a group 
                            on, and was the first time I was
                            exposed to different software development methodologies 
                            such as Agile, Waterfall, and Test-driven Development.
                            This was done back when the only language I knew
                            enough to program in was Java.
                        </p>
                        <p>
                            At the time, I thought Java was the best language
                            ever, because it was the first programming language 
                            I had ever learned. 
                            However, as I learned more about programming languages,
                            their origins, and their inner workings, 
                            I learned that there is no one "best" language. 
                            Instead, languages are different tools that a 
                            software developer can use, like how a craftsman 
                            uses a different tool for each situation.
                        </p>
                    </div>
                    <div class="col s12 m12 l12">
                        <b>Technologies Used</b>
                        <p>
                            Back then, the Java version that was used for
                            the development of the TTS was version
                            jdk1.6.0_03. The IDE that we used was 
                            <a href="https://eclipse.org/">Eclipse</a> as it
                            contained the <a href="https://eclipse.org/swt">
                            SWT Library</a> that we needed in order to create
                            windows and buttons. For the testing framework, 
                            we used <a href="http://www.jmock.org/">JMock</a>, 
                            and for the back-end database, we used 
                            <a href="http://hsqldb.org/">HSQLDB</a>. The 
                            version control that we used was 
                            <a href="https://en.wikipedia.org/wiki/Concurrent_Versions_System">
                            CVS</a>, but was uploaded onto GitHub for visibility.
                        </p>
                        <b>Design Decisions</b>
                        <p>
                            For the most part, most of the technologies used 
                            were suggested to us in the class. At the time 
                            of development, we didn't know any other technologies, 
                            and thus we went with what we knew.
                        </p>
                        <p>
                            For testing, we were introduced to three different 
                            types of testing which were, unit testing, 
                            acceptance testing, and integration testing, and 
                            the concept of testing with a mock where we simulate
                            testing with the real objects. JMock was really 
                            handy with this.
                        </p>
                        <b>Lessons Learned</b>
                        <p>
                            From doing this project, I gained an introduction 
                            to testing, and what different types of testing that 
                            we can use to test an application. For example, we 
                            can unit testing to test the individual components  
                            of a system, integration testing to test the 
                            interactions between the components, and acceptance 
                            testing to test if we have met the user's 
                            requirements.
                        </p>
                        <p>
                            It made me gain a greater appreciation for testing, 
                            and understanding that in the long run, it saves us 
                            time whenever we caught a bug. Instead of spending 
                            time looking for a bug, we can go and look at the 
                            tests instead and see where they fail, and easily 
                            fix it. A part of this though was learning how to
                            write good tests and test suites in the first place.
                        </p>
                        <p>
                            When presented with a larger codebase, and trying 
                            to understand how it all works together, and what 
                            each component does, I now first look at the tests, 
                            as they present a way for me to understand how the 
                            program should be expected to run, what values 
                            should be expected, what shouldn't be expected, and 
                            if it currently meets the user's expectations. 
                        </p>
                    </div>
                </div>

                <div class="row container">
                    <div class="col s12 m12 l12">
                        <div class="divider"></div>
                    </div>
                </div>

            </div> <!-- End Section White -->

{% endblock %}
